name: CI-CD - Build & Deploy

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/mean-backend:latest

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/mean-frontend:latest

  deploy:
    runs-on: ubuntu-latest
    needs: [build-and-push]
    steps:
      - name: Deploy to VM via SSH
        uses: appleboy/ssh-action@master
        with:
          host: "65.2.142.90"
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT || '22' }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
         script: |
            # Define a simple folder name
            DIR="mean-project"
            
            # Check if folder exists. If NOT, clone it.
            if [ ! -d "$DIR" ]; then
              echo "Folder missing. Cloning repository..."
              git clone https://github.com/${{ github.repository }}.git $DIR
            fi
            
            # Now we are sure it exists. Enter folder and pull updates.
            cd $DIR
            git pull origin main
            
            # Restart Docker containers
            sudo docker-compose down
            sudo docker-compose pull
            sudo docker-compose up -d --remove-orphans
            sudo docker image prune -f
